# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
analysis/salmon_demo/data/salmon_index/
analysis/salmon_demo/data/quant/
analysis/salmon_demo/data/fastq/trimmed/
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
data/bulk_rna/.DS_Store
.DS_Store
data/rsync_from_cemba.sh
data/MOp_snRNA/mouse_MOp_SMARTseq_gene_count.h5ad
analysis/salmon_demo/gencode.vM25.transcripts.fa.gz
analysis/DevFBProject/AggSalmon/tx2gene.csv
analysis/DevFBProject/AggSalmon/DevFB.16sample.gene_level_quant.csv.gz
analysis/DevFBProject/AggSalmon/DevFB.16sample.counts_for_DEG.csv.gz
analysis/DevFBProject/AggSalmon/DevFB.16sample.design.csv.gz
analysis/DevFBProject/ExploreData/mm10-blacklist.v2.bed
analysis/DevFBProject/ExploreData/gene_bed_white.bed
data/ref/GENCODEvM24/gene_bed_with_id.bed
data/ref/GENCODEvM24/gene_meta.csv.gz
analysis/DEGDemo/analysis/gene_raw_count_table.csv.gz
analysis/DEGDemo/analysis/PCA Plot.pdf
analysis/DEGDemo/analysis/gene_metadata.csv.gz
analysis/DEGDemo/analysis/Correlation Heatmap.pdf
analysis/DEGDemo/data/prepare_example_data_in_htseq_like_format.ipynb
